<!DOCTYPE html>
<html class="h-full bg-zinc-100">
  <head>
    {{ partial "partials/head.html" . }}
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <div class="bg-zinc-800 pb-32">
        {{ partial "partials/nav.html" . }}
      </div>
      <main class="-mt-32">
        <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
          <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
      </main>
      {{ partial "partials/footer.html" . }}
    </div>
  </body>
</html>
