{{ define "header" }}""{{ end }}
{{ define "main" }}
  <div class="relative bg-white py-16">
    <div
      class="absolute inset-x-0 top-0 hidden h-1/2 bg-gray-50 lg:block"
      aria-hidden="true"
    ></div>
    <div class="mx-auto max-w-7xl bg-purple-600 lg:bg-transparent lg:px-8">
      <div class="lg:grid lg:grid-cols-12">
        <div
          class="relative z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16"
        >
          <div
            class="absolute inset-x-0 h-1/2 bg-gray-50 lg:hidden"
            aria-hidden="true"
          ></div>
          <div class="mx-auto max-w-md px-6 sm:max-w-3xl lg:max-w-none lg:p-0">
            <div
              class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1"
            >
              {{ $image := .Resources.GetMatch "cover.jpg" }}
              <img
                class="rounded-3xl object-cover object-center shadow-2xl"
                src="{{ $image.RelPermalink }}"
                width="{{ $image.Width }}"
                height="{{ $image.Height }}"
              />
            </div>
          </div>
        </div>

        <div
          class="relative bg-purple-400 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center lg:rounded-3xl"
        >
          <div
            class="absolute inset-0 hidden overflow-hidden rounded-3xl lg:block"
            aria-hidden="true"
          >
            <svg
              class="absolute bottom-full left-full translate-y-1/3 -translate-x-2/3 transform xl:bottom-auto xl:top-0 xl:translate-y-0"
              width="404"
              height="384"
              fill="none"
              viewBox="0 0 404 384"
              aria-hidden="true"
            >
              <defs>
                <pattern
                  id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                  x="0"
                  y="0"
                  width="20"
                  height="20"
                  patternUnits="userSpaceOnUse"
                >
                  <rect
                    x="0"
                    y="0"
                    width="4"
                    height="4"
                    class="text-purple-500"
                    fill="currentColor"
                  />
                </pattern>
              </defs>
              <rect
                width="404"
                height="384"
                fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"
              />
            </svg>
            <svg
              class="absolute top-full -translate-y-1/3 -translate-x-1/3 transform xl:-translate-y-1/2"
              width="404"
              height="384"
              fill="none"
              viewBox="0 0 404 384"
              aria-hidden="true"
            >
              <defs>
                <pattern
                  id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                  x="0"
                  y="0"
                  width="20"
                  height="20"
                  patternUnits="userSpaceOnUse"
                >
                  <rect
                    x="0"
                    y="0"
                    width="4"
                    height="4"
                    class="text-purple-500"
                    fill="currentColor"
                  />
                </pattern>
              </defs>
              <rect
                width="404"
                height="384"
                fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"
              />
            </svg>
          </div>
          <div
            class="relative mx-auto max-w-md space-y-6 py-12 px-6 sm:max-w-3xl sm:py-16 lg:col-span-6 lg:col-start-4 lg:max-w-none lg:p-0"
          >
            <h2
              class="text-3xl font-bold tracking-tight text-white"
              id="join-heading"
            >
              Fish Tales: A podcast with Lee Trout
            </h2>
            <p class="text-lg text-white">
              I've invited various folks to chat with me on a range of topics.
              Usually tech related, but not always. Below you will find show
              notes and background on each episode. Or visit the podcast site to
              subscribe via RSS.
            </p>

            <a
              class="block inline-flex items-center rounded-md border border-transparent bg-white py-3 px-5 text-base font-medium text-purple-700 shadow-md hover:bg-gray-50 sm:w-auto"
              href="https://www.youtube.com/playlist?list=PL1lx2vQxCloMJl9mo1UcSTpf8KjLA3ekl"
              target="_blank"
              ><svg
                class="-ml-0.5 mr-2 h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
                  clip-rule="evenodd"
                />
              </svg>
              YouTube</a
            >
            <a
              class="block inline-flex items-center rounded-md border border-transparent bg-white py-3 px-5 text-base font-medium text-purple-700 shadow-md hover:bg-gray-50 sm:w-auto"
              href="https://open.spotify.com/show/7qAJbAmEOqNWglB8QcWdpd"
              target="_blank"
              ><svg
                class="-ml-0.5 mr-2 h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Spotify</title>
                <path
                  d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"
                />
              </svg>
              Spotify</a
            >
            <a
              class="block inline-flex items-center rounded-md border border-transparent bg-white py-3 px-5 text-base font-medium text-purple-700 shadow-md hover:bg-gray-50 sm:w-auto"
              href="https://fishtales.leetrout.com/rss/"
              target="_blank"
              ><svg
                class="-ml-0.5 mr-2 h-6 w-6"
                fill="currentColor"
                role="img"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>RSS</title>
                <path
                  d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"
                /></svg
              >RSS Feed</a
            >
            <!-- TODO: Add social links -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div
      class="overflow-hidden rounded-md border border-gray-300 bg-white w-3/5"
    >
      <ul role="list" class="divide-y divide-gray-300">
        {{ $len := len $.Pages }}
        {{ range $idx, $page := sort .Pages "Weight"
          "desc"
        }}
          <li class="px-4 py-4 sm:px-6">
            <div class="flex">
              <div class="mr-4 flex-shrink-0 self-center">
                {{ $image := $page.Resources.GetMatch "*cover.jpg" }}
                <a href="{{ .RelPermalink }}">
                  <img width="100" src="{{ $image.RelPermalink }}" />
                </a>
              </div>
              <div>
                <a href="{{ .RelPermalink }}">
                  <h4 class="text-lg font-bold">
                    {{ if eq $idx 0 }}
                      <span
                        class="inline-flex items-center rounded-full bg-purple-100 px-2.5 py-0.5 text-xs font-medium text-purple-800"
                        >Latest</span
                      >
                    {{ end }}
                    {{ $page.Params.classifier }}:
                    {{ $page.Title }}
                    <span class="text-base text-slate-600 font-medium"
                      >({{ time.Format "Jan 2, 2006" $page.Params.airdate }})</span
                    >
                  </h4>
                </a>
                <p class="mt-1">{{ $page.Content | truncate 100 }}</p>
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
